{% extends 'layout.html' %}

{% block title %}NeoTelecom - История компании и наши достижения.{% endblock %}

{% block content %}
    <div class="about-company">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <a href="/about_company/" class="breadcrumbs__item">История компании</a>
            </div>
            <div class="mobile-back">
                <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="mobile-back__button"></a>
            </div>
            <div id="system">
                <article class="item">
                    <header>
                        <h1 class="title">История компании</h1>
                    </header>
                    <div class="content clearfix">
                        <p>Мы рады приветствовать Вас на нашем сайте. <span class="blue">ОсОО «Inform Communications»</span> было образовано в 2009 году и по сей
                            день является флагманом среди поставщиков цифрового телевидения в Кыргызской Республике.
                            (Лицензия № 15 - 1264 ГАС КР).</p>
                        <p>Наша компания занимается подбором, продажей и установкой оборудования для спутникового и
                            эфирного телевидения, а также проектированием и установкой систем беспроводного
                            широкополосного доступа в интернет.</p>
                        <p>Так, первой услугой, предоставляемой компанией, было цифровое телевидение под брендом <span
                                class="blue">«Smart tv»</span>, вещающее в эфирно-кабельном формате и с зоной покрытия
                            по г. Бишкек.</p>
                        <p>Используя в своей работе только новые технологии и придерживаясь тенденций развития
                            современного рынка телевизионного вещания, с 2013 года компания стала предоставлять своим
                            абонентам услуги цифрового телевидения в эфирно-спутниковом формате вещания, под брендом
                            <span class="blue">«Smart tv HD»</span>. Данный формат вещания позволяет нашим абонентам
                            получать более высокое качество картинки и звукового сопровождения транслируемых каналов
                            (HD).</p>
                        <p>А с 2014 года компания представила новую услугу - широкополосный беспроводной интернет под
                            брендом <span class="blue">«Smart metro»</span> (Лицензия № 15 - 1265 ГАС КР).</p>
                        <p>Компания растет и динамично развивается, увеличивая не только перечень предоставляемых услуг,
                            но и территорию охвата.</p>
                        <p>Мы хорошо зарекомендовали себя, выполнив множество заказов, как для различных организаций,
                            так и для частных лиц, и недаром заслужили признание и уважение.</p>
                        <p>Наша компания постоянно стремится:</p>
                        <ul class="check">
                            <li>расширять перечень и улучшать качество оказываемых услуг</li>
                            <li>добиваться популяризации и доступности систем эфирно-спутникового телевидения и
                                широкополосного беспроводного интернета, за счет достижения оптимальной платы за
                                предлагаемые услуги
                            </li>
                            <li>расширять круг деловых партнеров, путем тесного сотрудничества и кооперации</li>
                            <li>отвечать мировым стандартам данной области услуг, и динамично развиваться наряду с
                                мировыми лидерами, соответственно требованиям рынка
                            </li>
                            <li>увеличивать занимаемую долю рынка и укреплять свои позиции на нем</li>
                            <li>повышать квалификацию наших специалистов</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
