{% extends 'layout.html' %}
{% load static %}

{% block title %}NeoTelecom - Smart TV телевидение с превосходным качеством.{% endblock %}

{% block content %}
<div class="tariffs">
  <div class="container">
    <div class="breadcrumbs">
      <a href="{% url 'main_page' %}" class="breadcrumbs__item">Главная</a>
      <a class="breadcrumbs__item">Smart TV</a>
    </div>
    <div class="mobile-back">
      <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="mobile-back__button"></a>
    </div>
    <h1 class="infopage__title">Smart TV</h1>
    <h4 class="infopage__subtitle infopage__subtitle_bg">Только лучшее качество и скорость передачи</h4>
    <div class="infopage__info">
      <div class="infopage__info-image">
        <img src="{% static 'img/smart_tv_place_img.jpg' %}" alt="Smart TV">
      </div>
      <div class="infopage__info-content">
        <p class="infopage__info-text">
          Выбирайте тарифный план, который подходит именно Вам, и смотрите любимые передачи в цифровом качестве. Тарифы включают в себя более 170 каналов.
        </p>
        <a href="{% url 'tariffs' %}#smart" class="btn btn_blue">Выбрать тариф</a>
      </div>
    </div>
    <div class="infopage__links">
      <h5 class="infopage__links-title">Преимущества Smart TV</h5>
      <div class="infopage__links-grid_wrapper">
        <div class="infopage__links-grid">
          <div class="infopage__links-grid-item">
            <span class="infopage__links-grid-item-title">Более 100 популярных телеканалов</span>
            <span class="infopage__links-grid-item-text">Смотрите самые рейтинговые новинки кино, лучшие спортивные события, новостные и развлекательные программы</span>
          </div>
          <div class="infopage__links-grid-item">
            <span class="infopage__links-grid-item-title">Посуточная тарификация</span>
            <span class="infopage__links-grid-item-text">От 7 сом в сутки</span>
          </div>
          <div class="infopage__links-grid-item">
            <span class="infopage__links-grid-item-title">Быстрое подключение</span>
            <span class="infopage__links-grid-item-text">Оборудование бесплатно, подключение за 1-3 дня!</span>
          </div>
          <div class="infopage__links-grid-item">
            <span class="infopage__links-grid-item-title">Услуга «Пауза» </span>
            <span class="infopage__links-grid-item-text">Можно приостановить предоставление услуги на время отпуска или отъезда</span>
          </div>
        </div>
      </div>
    </div>
    <div class="infopage__image">
      <h5 class="infopage__links-title">Как это работает</h5>
      <div class="infopage__image-smart-tv"></div>
    </div>
  </div>
  <div class="infopage__footer_wrapper">
    <div class="container">
      <div class="infopage__footer">Для получения более подробной информации Вы можете обратиться в службу информационной поддержки по номеру <a href="tel:0(312)976743" class="link link_blue">0 (312) 97 67 43</a></div>
    </div>
  </div>
</div>
{% endblock %}